[project]
	description = A Python library, that implements an alternative to the Cron schedule format.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew pashkin (AndrewPashkin)
[access "refs/for/refs/*"]
	read = group user/Andrew pashkin (AndrewPashkin)
	push = group user/Andrew pashkin (AndrewPashkin)
	label-Code-Review = -2..+2 group user/Andrew pashkin (AndrewPashkin)
	label-Verified = -1..+1 group user/Andrew pashkin (AndrewPashkin)
	rebase = group user/Andrew pashkin (AndrewPashkin)
	removeReviewer = group user/Andrew pashkin (AndrewPashkin)
	submit = group user/Andrew pashkin (AndrewPashkin)
[access "refs/heads/*"]
	read = group user/Andrew pashkin (AndrewPashkin)
	create = group user/Andrew pashkin (AndrewPashkin)
	push = +force group user/Andrew pashkin (AndrewPashkin)
	pushMerge = group user/Andrew pashkin (AndrewPashkin)
[access "refs/tags/*"]
	push = +force group user/Andrew pashkin (AndrewPashkin)
	createTag = group user/Andrew pashkin (AndrewPashkin)
	createSignedTag = group user/Andrew pashkin (AndrewPashkin)
